{% extends 'base.html' %}
{% block title %}
Farmers
{% endblock title %}
{% block home %}
menu-active
{% endblock home %}

{% block body %}
  
  <!-- ======= Footer ======= -->
  <footer id="footer" style="background-image: url('/farmer system/static/images/b_g.avif'); background-size: cover; background-repeat: no-repeat; background-attachment: fixed;">
    <div class="footer-top">
     
    </div>

    <div class="container">
   
      <div class="credits">
      <br>
        Developed by <a href="/">Tushtee </a>
      </div>
    </div>
  </footer><!-- End  Footer -->
{% endblock body %}
